@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --foreground-rgb: #000000;
  --background-start-rgb: 25, 25, 26;
  --background-end-rgb: 25, 25, 26;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #ffffff;
    --background-start-rgb: 25, 25, 26;
    --background-end-rgb: 25, 25, 26;
  }
}

input {
  text-transform: capitalize;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0C0C0C;
  font-family: 'Roboto', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.pagination-button {
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.pagination-button:active {
  transform: scale(0.95);
}