@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
  --foreground-rgb: #000000;
  --background-start-rgb: 25, 25, 26;
  --background-end-rgb: 25, 25, 26;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #ffffff;
    --background-start-rgb: 25, 25, 26;
    --background-end-rgb: 25, 25, 26;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #2d3748; /* Color equivalente a bg-gray-800 */
  font-family: 'Roboto', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}